# 시리즈 만들기

In [8]:
import pandas as pd

s = pd.Series(['banana', 42],
             index = ['Fruits', 'age']) # 인덱스 만들어주기
s2 = pd.Series(['apple', 68],
             index = ['Fruits', 'age']) # 인덱스 만들어주기

print(s)
s3 = s.append(s2)
s3.sample()

Fruits    banana
age           42
dtype: object

age    68
dtype: object

# 데이터프레임 만들기

In [ ]:
scientists = pd.DataFrame()

# 데이터프레임에서 시리즈 선택하기

# index, values, keys 사용하기

# 시리즈의 mean, min, max, std 메서드 사용하기

# 시리즈와 불린 추출 사용하기

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        8 non-null      object
 1   Born        8 non-null      object
 2   Died        8 non-null      object
 3   Age         8 non-null      int64
 4   Occupation  8 non-null      object
dtypes: int64(1), object(4)
memory usage: 448.0+ bytes

                   Name        Born        Died  Age    Occupation
0     Rosaline Franklin  1920-07-25  1958-04-16   37       Chemist
1        William Gosset  1876-06-13  1937-10-16   61  Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90         Nurse
3           Marie Curie  1867-11-07  1934-07-04   66       Chemist
4         Rachel Carson  1907-05-27  1964-04-14   56     Biologist

# 시리즈와 브로드캐스팅

# 데이터프레임과 불린 추출

# 데이터프레임과 브로드캐스팅

# 열의 자료형 바꾸기와 새로운 열 추가하기

In [14]:
scientists = pd.read_csv('../data/scientists.csv')
scientists.info()
scientists.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        8 non-null      object
 1   Born        8 non-null      object
 2   Died        8 non-null      object
 3   Age         8 non-null      int64
 4   Occupation  8 non-null      object
dtypes: int64(1), object(4)
memory usage: 448.0+ bytes

                   Name        Born        Died  Age    Occupation
0     Rosaline Franklin  1920-07-25  1958-04-16   37       Chemist
1        William Gosset  1876-06-13  1937-10-16   61  Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90         Nurse
3           Marie Curie  1867-11-07  1934-07-04   66       Chemist
4         Rachel Carson  1907-05-27  1964-04-14   56     Biologist

In [17]:
# 날짜형 object를 datetime으로 바꾸기 : `pd.to_datetime`
scientists['born_dt'] = pd.to_datetime(scientists['Born'], format = '%Y-%m-%d')
scientists['died_dt'] = pd.to_datetime(scientists['Died'], format = '%Y-%m-%d')
scientists['age_days_dt'] = scientists['died_dt'] - scientists['born_dt']

In [22]:
# 데이터 섞기 - random.shuffle에 series를 전달하여 구현 가능
import random
random.shuffle(scientists['Age'])
print(scientists['Age'])

0    41
1    37
2    90
3    77
4    56
5    45
6    66
7    61
Name: Age, dtype: int64

In [ ]:
# 열 삭제하기
new_df = scientists.drop(['Age'], axis = 1) # axis = 1 : 열을 삭제

# 시리즈, 데이터프레임의 데이터 섞어보기

# 데이터프레임의 열 삭제하기

# 피클 형식으로 저장하기
- 피클 : 바이너리 형태로 직렬화한 오브젝트를 저장하는 방법
- 스프레드시트보다 더 용량이 작다
- `to_pickle`
- 시리즈, 데이터프레임 모두 가능함

In [ ]:
names = scientists['Name']
# 저장
names.to_pickle('../output/scientists_names_series.pickle')
# 불러오기
scientist_names_from_pickle = pd.read_pickle('../output/scientist_names_series.pickle')

# CSV 저장 & 불러오기
- `to_csv()` : csv 파일 저장
- `to_csv(sep ='\t')` : tsv 파일 저장

# 엑셀 저장
- 엑셀 : `.xls` : xlwt 라이브러리
- `.xlsx` : openpyxl 라이브러리