In [1]:
import pandas as pd
print(pd.__version__)

1.2.4

In [8]:
# 데이터를 어디서 받는지 책에 나와있지 않아서 그냥 캐글의 타이타닉 훈련 데이터로 진행함. 혹시 그냥 코랩에 있는건가?
df = pd.read_csv('train.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

### .value_counts() : 특히 문자형 데이터의 개수를 파악할 때 유용함

In [12]:
df['Sex']
df['Sex'].value_counts()

male      577
female    314
Name: Sex, dtype: int64

### .drop() : 열 혹은 행을 제거
- numpy와 달리 axis = 0 은 행을 제거 / axis = 1 은 열을 제거한다.
- <b>특히 주의해야 할 건 drop을 실행한 뒤의 변수를 지정해야 한다는 것이다.</b>

In [16]:
df_copy = df.copy()
df_copy_drop = df_copy.drop('PassengerId', axis = 1) #

In [17]:
df_copy_drop

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

#### 행 제거 : index 명을 지정하며, 기본적으로 숫자값을 넣으면 되는 듯. 기본 인덱스는 숫자니까(끄덕)

In [ ]:
df_copy_drop_row = df_copy.drop(0)

### 인덱스 지정하기( [], loc, iloc)
- loc, iloc도 메소드처럼 쓰지만 ()이 오지 않고 인덱싱과 동일하게 []를 쓴다

#### 1. []

In [21]:
print(df[0:5])

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [23]:
# Boolean Indexing
print(df[df['Sex'] == 'male']) # [] 안쪽 조건이 True인 행들만 출력

     PassengerId  Survived  Pclass                            Name   Sex  \
0              1         0       3         Braund, Mr. Owen Harris  male
4              5         0       3        Allen, Mr. William Henry  male
5              6         0       3                Moran, Mr. James  male
6              7         0       1         McCarthy, Mr. Timothy J  male
7              8         0       3  Palsson, Master. Gosta Leonard  male
..           ...       ...     ...                             ...   ...
883          884         0       2   Banfield, Mr. Frederick James  male
884          885         0       3          Sutehall, Mr. Henry Jr  male
886          887         0       2           Montvila, Rev. Juozas  male
889          890         1       1           Behr, Mr. Karl Howell  male
890          891         0       3             Dooley, Mr. Patrick  male

      Age  SibSp  Parch            Ticket     Fare Cabin Embarked
0    22.0      1      0         A/5 21171   7.2500   NaN        S
4    35.0      0      0            373450   8.0500   NaN        S
5     NaN      0      0            330877   8.4583   NaN        Q
6    54.0      0      0             17463  51.8625   E46        S
7     2.0      3      1            349909  21.0750   NaN        S
..    ...    ...    ...               ...      ...   ...      ...
883  28.0      0      0  C.A./SOTON 34068  10.5000   NaN        S
884  25.0      0      0   SOTON/OQ 392076   7.0500   NaN        S
886  27.0      0      0            211536  13.0000   NaN        S
889  26.0      0      0            111369  30.0000  C148        C
890  32.0      0      0            370376   7.7500   NaN        Q

[577 rows x 12 columns]

#### 2. iloc
- 위치 기반 인덱싱

In [25]:
df.iloc[0:5, 0:2]

   PassengerId  Survived
0            1         0
1            2         1
2            3         1
3            4         1
4            5         0

#### 3. loc
- 명칭 기반 인덱싱
- iloc와 조금 다르다 : 아래에서 0:5인데 5가 포함되는 것에 주목하자
- 즉 iloc는 가장 뒤 인덱스를 포함하지 않지만 loc는 포함한다

In [27]:
# df.loc[0:5, 0:2] # cannot do slice indexing on Index with these indexers [0] of type int

TypeError: cannot do slice indexing on Index with these indexers [0] of type int

In [32]:
df.loc[0:5, ['PassengerId', 'Survived']]

   PassengerId  Survived
0            1         0
1            2         1
2            3         1
3            4         1
4            5         0
5            6         0

#### 조건 인덱싱

In [37]:
# 다른 방법이 있을 수도 있는데 기본적으로 loc를 쓰는 예제가 많기도 하다. 그래서 .loc를 이용하는 건 암기 내지는 숙달의 영역이라고 봄
df.loc[df['Age'] > 30, ['Sex', 'Embarked']].head(4)

      Sex Embarked
1  female        C
3  female        S
4    male        S
6    male        S

#### sort_values(by = , ascending = , inplace = )
- by : 어떤 열을 기준으로 정렬할래?
- ascending : T/F : 오름차순 허쉴? 안허쉴?
- inplace : 결과를 바로 반영허쉴? 안허쉴?

In [40]:
# 와 0.몇살이 있었구나?
df.sort_values(by = 'Age', ascending = True).head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
803,804,1,3,"Thomas, Master. Assad Alexander",male,0.42,0,1,2625,8.5167,NaN,C
755,756,1,2,"Hamalainen, Master. Viljo",male,0.67,1,1,250649,14.5000,NaN,S
644,645,1,3,"Baclini, Miss. Eugenie",female,0.75,2,1,2666,19.2583,NaN,C
469,470,1,3,"Baclini, Miss. Helene Barbara",female,0.75,2,1,2666,19.2583,NaN,C
78,79,1,2,"Caldwell, Master. Alden Gates",male,0.83,0,2,248738,29.0000,NaN,S
831,832,1,2,"Richards, Master. George Sibley",male,0.83,1,1,29106,18.7500,NaN,S
305,306,1,1,"Allison, Master. Hudson Trevor",male,0.92,1,2,113781,151.5500,C22 C26,S
827,828,1,2,"Mallet, Master. Andre",male,1.00,0,2,S.C./PARIS 2079,37.0042,NaN,C
381,382,1,3,"Nakid, Miss. Maria (""Mary"")",female,1.00,0,2,2653,15.7417,NaN,C
164,165,0,3,"Panula, Master. Eino Viljami",male,1.00,4,1,3101295,39.6875,NaN,S

### groupby()
- 보통 뒤에 적용할 연산을 같이 써준다. 근데 단순히 이겋만 이용해서 직관을 얻기엔 모자람 -> agg()를 같이 써줌
- agg() : groupby()로 묶인 함수를 연산함

In [42]:
print(df.groupby(by = 'Sex')['Survived'].count())

Sex
female    314
male      577
Name: Survived, dtype: int64

In [43]:
print(df.groupby(by = 'Sex')['Fare'].agg([max, min]))

             max   min
Sex
female  512.3292  6.75
male    512.3292  0.00

In [51]:
# 여러 feature에 대해 보고 싶다면 2차원으로 feature를 전달하면 된다.
import numpy as np
print(df.groupby(by = 'Sex')[['Fare', 'Age']].agg([max, min, np.median, np.mean])) # agg에 전달되는 함수는 기존에 있는 함수는 다 되는 듯

            Fare                           Age
             max   min median       mean   max   min median       mean
Sex
female  512.3292  6.75   23.0  44.479818  63.0  0.75   27.0  27.915709
male    512.3292  0.00   10.5  25.523893  80.0  0.42   29.0  30.726645